{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}


<div class="text-center" style="
    display: flex;
    padding-top: 60px;
    padding-left:35%;
    background-color: #f5f5f5;">


    <form method="post" style="width:40%;border:solid 1px #E7591C; padding:10px 10px 10px 10px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <img class="mb-4" src="{{ asset('images/sidentifier.jpg') }}" alt="" width="150" height="65">
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>


        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
               placeholder="Email" required autofocus>


        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
               required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3" style="margin-top:10px;">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-danger btn-block" type="submit" style="background-color:#E7591C;">Valider</button>
    </form>
</div>

    {% endblock %}
