{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitlePreview</th>
                <th>Content</th>
                <th>FormationStart</th>
                <th>FormationEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.titlePreview }}</td>
                <td>{{ formation.content }}</td>
                <td>{{ formation.formationStart ? formation.formationStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.formationEnd ? formation.formationEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_new') }}">Create new</a>
{% endblock %}
