{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>TitlePreview</th>
                <td>{{ formation.titlePreview }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ formation.content }}</td>
            </tr>
            <tr>
                <th>FormationStart</th>
                <td>{{ formation.formationStart ? formation.formationStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FormationEnd</th>
                <td>{{ formation.formationEnd ? formation.formationEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
