<div class="mt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="content d-flex ">
                    <img src="{{ asset('images/cfdtisere.jpeg') }}" class="d-flex align-self-center d-block h-100 w-100"
                         alt="...">
                    <p class="border-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                        vestibulum semper neque ultrices semper. Maecenas convallis, libero at rhoncus imperdiet, ante
                        elit placerat nisl, id vehicula felis augue vitae erat. Phasellus vel sollicitudin enim. Etiam
                        nec mauris vel ante fermentum condimentum sit amet vel magna. Praesent condimentum egestas
                        lacus, eget fermentum nulla molestie sit amet. Nam et ex ac odio molestie feugiat. Integer
                        tempus blandit dolor, ut semper diam maximus vel. Donec pellentesque, sapien sed luctus
                        hendrerit, odio ipsum aliquet leo, id ullamcorper ipsum justo ut felis. Aenean eu diam
                        tincidunt, luctus lacus finibus, suscipit est. Aliquam et aliquam augue. Praesent nec gravida
                        arcu, in bibendum nulla.

                        Donec metus libero, vehicula sit amet sollicitudin ut, porttitor eget mi. Ut turpis diam, mattis
                        quis ex in, fermentum dapibus justo. Integer eget quam tincidunt, ullamcorper dui vel, consequat
                        mi. Vivam</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/cfdtisere.jpeg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/cfdtisere.jpeg') }}" class="d-block w-100" alt="...">
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
            <span class="sr-only" >Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>