<header class="align-items-start">
    <div class="container">
        <a href="{{ path('index') }}">
            <img src="{{ asset('images/logoCFDTIsere.png') }}" alt="logo cfdt"
                 style="width:30%;margin-bottom:15px;">
        </a>

        <a target="_blank" href="https://www.cfdt.fr/portail/adhesion/adherez-en-ligne/vos-informations-jca_221327"
           style="margin-left:40%">
            <img src="{{ asset('images/adherer.png') }}" alt="bouton adhérer en ligne" style="width:5%;">
        </a>

        {% include 'navbar.html.twig' %}
    </div>
</header>