{% extends 'base.html.twig' %}

{% block title %}CFTD Isère Accueil{% endblock %}

{% block body %}
    <div class="container">
        {% include 'default/carousel.html.twig' %}
        <div class="d-flex justify-content-end">
            {% include 'widget.html.twig' %}
        </div>
    </div>
{% endblock %}
