{% extends 'base.html.twig' %}

{% block title %}Resource index{% endblock %}

{% block body %}
    <h1>Resource index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Available</th>
                <th>RentedAt</th>
                <th>ReturnAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>{{ resource.id }}</td>
                <td>{{ resource.type }}</td>
                <td>{{ resource.available ? 'Yes' : 'No' }}</td>
                <td>{{ resource.rentedAt ? resource.rentedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ resource.returnAt ? resource.returnAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('resource_show', {'id': resource.id}) }}">show</a>
                    <a href="{{ path('resource_edit', {'id': resource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resource_new') }}">Create new</a>
{% endblock %}
