{% extends 'base.html.twig' %}

{% block title %}New Resource{% endblock %}

{% block body %}
    <h1>Create new Resource</h1>

    {{ include('resource/_form.html.twig') }}

    <a href="{{ path('resource_index') }}">back to list</a>
{% endblock %}
