{% extends 'base.html.twig' %}

{% block title %}Resource{% endblock %}

{% block body %}
    <h1>Resource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resource.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ resource.type }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ resource.available ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>RentedAt</th>
                <td>{{ resource.rentedAt ? resource.rentedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ReturnAt</th>
                <td>{{ resource.returnAt ? resource.returnAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resource_index') }}">back to list</a>

    <a href="{{ path('resource_edit', {'id': resource.id}) }}">edit</a>

    {{ include('resource/_delete_form.html.twig') }}
{% endblock %}
