<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="border-bottom:solid 1px black; border-top:solid 1px black;">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    La CFDT
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">A quoi sert un syndicat CFDT ?</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Pourquoi adhérer à la CFDT ?</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Dialogue social</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">CSE: Comité Social Economique</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">QVT: Qualité de vie au travail
                        <div class="dropdown-divider warning"></div>
                        <a class="dropdown-item" href="#">Glossaire</a></a>
                </div>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    CFDT Isère
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Bienvenue</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Syndicats professionnels de l'Isère</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Unions Locales CFDT en Isère</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Le mandatement CFDT:
                        protection sociale</a>
                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Communications
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Communiqués de presse</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">"Trait d'union", journal de l'URI</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">"Repères 38", journal des retraités 38</a>
                    <div class="dropdown-divider warning"></div>
                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Votre statut
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Salarié du privé ou du public</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Salarié TPE</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Retraité</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Indépendant</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Intérimaire
                        <div class="dropdown-divider warning"></div>
                        <a class="dropdown-item" href="#">Saisonnier</a></a>
                </div>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Outils adhérents
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Défense</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Formations</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Réponse à la carte</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">CNAS</a>
                    <div class="dropdown-divider warning"></div>
                    <a class="dropdown-item" href="#">Permanence juridique</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="rechercher" aria-label="Search" style="border:solid 1px #E7591C;
width:120px;">
            <button class="btn btn-outline-warning  my-2 my-lg-0" type="submit" style="border:solid 1px #E7591C;"><i
                        class="fas fa-search" style="color:#E7591C;"></i></button>
        </form>
    </div>
</nav>

