<div>
    <div class="card text-black bg-light mb-3" style="max-width: 18rem; text-align: center; margin-top: 5%;">
        <div class="card-header"><i class="fa fa-calendar" aria-hidden="true" style="color:#E7591C;"></i></div>
        <div class="card-body">
            <h5 class="card-title">L'agenda évènements</h5>

            <a href="http://handicap-iledefrance-cfdt.fr/initiative-regionale-29-novembre-2018/"
               title="Plus d´infos sur l´évènement du 29/11/2018" style="color:#E7591C;">29/11/2018 </a>
            <p class="card-text">INITIATIVE RÉGIONALE 29 novembre 2018</p>

            <a href="http://handicap-iledefrance-cfdt.fr/initiative-regionale-28-juin-2018/"
               title="Plus d´infos sur l´évènement du 28/06/2018" style="color:#E7591C;">
                28/06/2018</a>
            <p class="card-text">INITIATIVE REGIONALE 28 juin 2018</p>

            <a href="http://handicap-iledefrance-cfdt.fr/progres-tete-montrer-nouveau-visage-syndicalisme/"
               title="Plus d´infos sur l´évènement du 3/10/2017" style="color:#E7591C;">
                3/10/2017</a>
            <p class="card-text">[Le progrès en tête !] “Montrer le nouveau visage du syndicalisme”</p>

            <a href="http://handicap-iledefrance-cfdt.fr/category/lagenda-evenements"><i class="fa fa-plus"
                                                                                         aria-hidden="true"
                                                                                         style="color:#E7591C;"></i></a>

        </div>
    </div>


    <div class="card text-black bg-light mb-3" style="max-width: 18rem; text-align: center;">
        <div class="card-header"><i class="fas fa-thumbtack" style="color:#E7591C;"></i></div>
        <div class="card-body">
            <h5 class="card-title">Réservations</h5>

            <a href="#" style="color:#E7591C;">29/11/2018 </a>
            <p class="card-text">Les salles</p>

            <a href="#" style="color:#E7591C;">29/11/2018 </a>
            <p class="card-text">Les véhicules</p>

            <a href="#" style="color:#E7591C;">29/11/2018 </a>
            <p class="card-text">Le matériel</p>

        </div>
    </div>
</div>







