{% extends 'base.html.twig' %}

{% block title %}Espace privé mandataire{% endblock %}

{% block body %}

    {% for users in user %}
        <h1>Bonjour, {{ user.firstName }} vous êtes connecté(e) à votre espace privatif.</h1>
    {% endfor %}


    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Utilisateurs</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion des utilisateurs</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des utilisateurs en sélectionnant
                la liste ci-dessous.</p>
            <p class="card-text">Liste des personnes autorisées dans l'espace privé.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter un utilisateur</a>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Articles</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion des contenus</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des articles en sélectionnant
                la liste ci-dessous.</p>
            <p class="card-text">Liste des articles.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter</a>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Matériels</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion des ressources matériels</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer du matériel en sélectionnant
                les listes ci-dessous.</p>
            <p class="card-text">Liste des salles.</p>
            <p class="card-text">Liste des véhicules.</p>
            <p class="card-text">Liste du matériel divers.</p>
            <p class="card-text">Liste des réservations.</p>
            <p class="card-text">Réservation salle.</p>
            <p class="card-text">Réservation véhicule.</p>
            <p class="card-text">Réservation matériel divers.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter un matériel</a>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Formations</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion des formations</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des formations
                en sélectionnant la liste ci-dessous.</p>
            <p class="card-text">Liste des formations.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter une formation</a>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Validations</div>
        <div class="card-body text-warning">
            <h5 class="card-title">En attente de validation</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des articles en attente de validation
                et les valider si tout est conforme en sélectionnant la liste ci-dessous.</p>
            <p class="card-text">Liste des articles en attente.</p>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Newsletters</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion des newsletters</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des newsletters
                en sélectionnant la liste ci-dessous.</p>
            <p class="card-text">Liste des newsletters.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter une newsletter</a>
        </div>
    </div>

    <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Slide/Evénements</div>
        <div class="card-body text-warning">
            <h5 class="card-title">Gestion du slide et événements</h5>
            <p class="card-text">Ici vous pouvez consulter modifier ou supprimer des événements à la une sur la page d'accueil et changer
                les images du slide en sélectionnant un des éléments ci-dessous.</p>
            <p class="card-text">Slide.</p>
            <p class="card-text">Evénement.</p>
        </div>
        <div class="card-footer bg-transparent border-warning"><a href="#" class="btn btn-outline-warning">Ajouter un événement</a>
        </div>
    </div>





{% endblock %}