{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>


    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">retour liste</a>

    {{ include('user/_delete_form.html.twig') }}

{% endblock %}
